---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Qntssnz</title>
	</head>
	<body>
		<h1 class="title">Qntssnz</h1>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "JosephinSlab";
		src: url("/fonts/JosefinSlab-VariableFont_wght.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html,
	body {
		margin: 0;
		padding: 0;
		background: #fff;
		color: #444;
		font:
			16px/1.5 JosephinSlab,
			serif;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
		cursor: default;
	}
	h1.title {
		font-size: 144px;
		font-weight: 144;
		font-variation-settings: "wght" 144;
		border-top: 2px solid #f520;
		border-bottom: 2px solid #f520;
		transition: 1s;
	}
	h1.title:hover {
		color: #f52;
		border-color: #f52;
	}
</style>
