---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Qntssnz</title>
	</head>
	<body>
		<h1 class="title">Qntssnz</h1>

		<footer><a href="/">Impressum</a></footer>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "JosephinSlab";
		src: url("/fonts/JosefinSlab-VariableFont_wght.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}
	html,
	body {
		margin: 0;
		padding: 0;
		background: #fff;
		color: #444;
		font:
			333 17px/1.5 JosephinSlab,
			serif;
		font-variation-settings: "wght" 333;
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
		cursor: default;
		grid-template-columns: auto;
		grid-template-rows: 1fr auto;
	}
	body {
		border-top: 1em solid #f52;
	}
	h1.title {
		font-size: 144px;
		font-weight: 144;
		font-variation-settings: "wght" 144;
		transition: 1s;
	}
	h1.title:hover {
		color: #f520;
	}
	footer {
		margin: 1em 2em;
		justify-self: end;
	}
	footer a {
		color: #444;
		text-decoration: underline;
		text-decoration-style: dotted;
		text-decoration-color: #444;
		transition: .5s;
	}
	footer a:hover {
		color: #f52;
		text-decoration-color: #f52;
	}
</style>
